body {
    background-color: #3b0909;
}

h1{
    color:rgb(192, 192, 192);
    text-align:center;
}

p{
    color:#F5F5F5;
    text-align:center;
    font-size:20px;
}

.reb{   
    display:flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 350px;
    height: 300px;   
}

/* flex-wrap: wrap;*/














